$primary:#ffffff;
$secondary1:rgb(70, 193, 255);
$secondary2:rgb(137, 215, 254);
$secondary3:rgb(255, 70, 246);
$secondary4:rgb(238, 137, 254);
$secondary5:rgb(224, 70, 255);
$secondary6:rgb(240, 137, 254);